* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h2,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
}
h1{
    color: green;
}
button{
    height: 35px;
    width: 150px;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}